@{
    ViewBag.Title = "Přihlášení ke správě";
    Layout = "_Layout";
}
<h3>Přihlášení ke správě</h3>
@using (Html.BeginForm(FormMethod.Post, true, null))
{
        <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Heslo">
        </div>
        <button type="submit" class="btn btn-default">Přihlásit</button>
}
