@model KdyPojedeVlak.Models.VersionInformation
@{
    ViewData["Title"] = "O projektu";
}
<h2>O projektu</h2>

<p>Tyto stránky jsou ve vývoji. Pokud vás projekt zaujal nebo máte nějaké dotazy, můžete psát na <a href="mailto:mormegil%40centrum%2Ecz">mormegil&#x40;centrum&#46;cz</a>.</p>

<h3>Zdroje dat</h3>
<ul>
    <li>Základním zdrojem dat je ze zákona veřejně dostupný <a href="https://cs.wikipedia.org/wiki/Celost%C3%A1tn%C3%AD_informa%C4%8Dn%C3%AD_syst%C3%A9m_o_j%C3%ADzdn%C3%ADch_%C5%99%C3%A1dech">Celostátní informační systém o jízdních řádech</a>.</li>
    <li>Tento projekt také používá data z&nbsp;projektu <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, která jsou dostupná za podmínek <a href="https://opendatacommons.org/licenses/odbl/summary/">licence ODbL</a>, © přispěvatelé OpenStreetMap.</li>
</ul>

@*
<h4>Aktualizace dat</h4>
<ul>
    <li>Nejnovější data: @Model.NewestData (naimportována @Model.LatestImport)</li>
    <li>Poslední kontrola aktualizací: @Model.LastDownload</li>
</ul>
*@
