@{
    ViewData["Title"] = "O projektu";
}
<h2>O projektu</h2>

<p>Tyto stránky jsou ve vývoji. Pokud vás projekt zaujal nebo máte nějaké dotazy, můžete psát na <a href="mailto:mormegil%40centrum%2Ecz">mormegil&#x40;centrum&#46;cz</a>.</p>

<h3>Aktuální data</h3>
<ul>
    <li>Aktuální verze dat: <code>@Program.ScheduleVersionInfo.CurrentVersion</code></li>
    <li>Poslední kontrola aktualizací: @(Program.ScheduleVersionInfo.LastUpdateDate < new DateTime(1800, 1, 1) ? "—" : Program.ScheduleVersionInfo.LastUpdateDate.ToString("s"))</li>
</ul>
