@{
    ViewData["Title"] = "Chyba: Soubor nenalezen";
}

<img class="error-icon" src="/images/error-sem.png" alt="" role="presentation" />
<h1 class="text-danger">HTTP 404</h1>
<h2 class="text-danger">Požadovaný soubor neexistuje.</h2>
