@{
    ViewData["Title"] = "Úvodní stránka";
}

<h1>Kdy pojede vlak?</h1>

<ul>
    <li>@Html.ActionLink("Průjezdy vlaků daným místem", "ChoosePoint", "Transits", null, null)</li>
    <li>@Html.ActionLink("Jízdní řád daného vlaku", "Index", "Train", null, null)</li>
</ul>