@{
    ViewData["Title"] = "Chyba";
}

<img class="error-icon" src="/images/error-flag.png" alt="" role="presentation" />
<h1 class="text-danger">Chyba</h1>
<h2 class="text-danger">Při zpracování vašeho požadavku došlo k neočekávané chybě.</h2>
