@model IList<KeyValuePair<string, string>>
@{
    ViewData["Title"] = "Výběr místa průjezdu";
}
<h3>Průjezdy vlaku daným místem</h3>

@if (Model == null)
{
    <div class="alert alert-success" role="alert">Požadované místo nebylo nalezeno, zkuste něco jiného.</div>
}

<div>
    @using (Html.BeginForm(FormMethod.Get))
    {
        <label for="search">Zadejte místo:</label>
        @Html.TextBox("search", null, new { id = "search" })
        <input type="submit" value="Hledat"/>
        <span id="locateMe"></span>
    }
</div>
<div id="geoLocateResults"></div>

@if (Model != null && Model.Count != 0)
{
    <h3>Nalezené výsledky</h3>
    <ul>
        @foreach (var result in Model)
        {
            <li>@Html.ActionLink(result.Value, "Nearest", new { id = result.Key })</li>
        }
    </ul>
}

@section scripts
{
    <script>
    $(function(){window['kdyPojedeVlak'].initGeoLocationButton('#locateMe', '@Html.Raw(Url.Action("GeoLocateMe", new { lat = "$lat", lon = "$lon", embed = "1" }))', '#geoLocateResults')});
    </script>
}