@model IEnumerable<KdyPojedeVlak.Engine.TrainRoutePoint>
@{
    ViewData["Title"] = "Nejbližší vlaky";
}
<ul>
@foreach(var train in Model)
{
    <li>
    @train.ScheduledTime
    @Html.ActionLink(train.Train.TrainType + " " + train.Train.TrainNumber, "Details", "Train", new { id = train.Train.TrainNumber })
    </li>
}
</ul>
