@using KdyPojedeVlak.Models
@model KdyPojedeVlak.Models.NearestTransits
@{
    ViewData["Title"] = String.Format("Nejbližší vlaky v „{0}“", Model.Point.Name);
    var now = Model.StartDate.TimeOfDay;
}
<h3>Nejbližší průjezdy vlaku místem „@Model.Point.LongName“</h3>
<ul>
@foreach(var train in Model.Transits)
{
    <li class="@(train.AnyScheduledTime < now ? "past" : "future")">
        @train.AnyScheduledTime
        @Html.ActionLink(DisplayConsts.TrainCategoryNames[train.Train.TrainCategory] + " " + train.Train.TrainNumber + " " + train.Train.TrainName, "Details", "Train", new { id = train.Train.TrainNumber })
    </li>
}
</ul>

<h4>Sousední místa</h4>
<ul>
    @foreach(var neighbor in Model.Point.NeighboringPoints)
    {
        <li>
            @Html.ActionLink(neighbor.LongName, "Nearest", new { id = neighbor.ID }, null)
        </li>
    }
</ul>
